body {
    font-family: 'Quicksand', sans-serif;
    background-color: ##fff; /* Gris claro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el logo */
.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 400px;
    height: 150px;
}

h1 {
    color: #333; /* Negro suave */
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    margin-top: 10px;
    text-align: center;
    position: relative;
}

/* Posición del botón "Volver" */
.back-button {
    position: absolute;
    top: 110px;
    left: 50px;
    font-size: 1.4rem;
    background-color: #e60000; /* Rojo claro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Quicksand', sans-serif;
}

.back-button:hover {
    background-color: #e60000; /* Rojo más oscuro para el hover */
}

h3 {
    color: #666; /* Gris oscuro */
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* Estilos para el botón de "Ver Otras Marcas" y "Ver Otros Modelos" */
.toggle-button {
    font-size: 1.4rem;
    background-color: #e60000; /* Rojo claro */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #e60000; /* Rojo oscuro para el hover */
}

.brand-container,
.model-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.brand,
.model {
    width: 100px;
    height: 50px;
    background-color: #333; /* Negro suave */
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.brand:hover,
.model:hover {
    background-color: #666; /* Gris oscuro */
}

.form-container {
    margin: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.input-with-icon {
    position: relative;
    margin-bottom: 20px;
}

.input-with-icon input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 1.2rem;
    border: 2px solid #ddd; /* Gris claro */
    border-radius: 5px;
    background-color: #fff;
}

.input-with-icon input:focus {
    border-color: #333; /* Negro suave */
    outline: none;
}

.input-with-icon .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #aaa; /* Gris claro */
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #ddd; /* Gris claro */
    border-radius: 5px;
    background-color: #fff;
}

select:focus {
    border-color: #333; /* Negro suave */
    outline: none;
}

.output {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
}

.output h3 {
    color: #333; /* Negro suave */
    font-size: 2rem;
    margin-bottom: 20px;
}

.output p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.output button {
    color: #fff;
    background-color: #e60000; /* Azul */
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.output button:hover {
    background-color: #e60000; /* Azul oscuro */
}

#searchButton {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 15px;
    background-color: #e60000; /* Negro suave */
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

#searchButton:disabled {
    cursor: not-allowed;
    background-color: #aaa; /* Gris claro */
    opacity: 0.5;
}

#searchButton:hover:not(:disabled) {
    background-color: #666; /* Gris oscuro */
    transform: scale(1.05);
    opacity: 1;
}

/* Restaurar estilo del botón de "Nueva Búsqueda" */
.search-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 15px;
    background-color: #e60000; /* Negro suave */
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.search-button:hover {
    background-color: #666; /* Gris oscuro */
}

#selectedModel {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Negro suave */
    margin-top: 20px;
    margin-bottom: 20px;
}

#selectedBrand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Negro suave */
    margin: 30px;
}
